body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
}


header {
    background-color: #2A3B49;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    color: #7BFFE9;
}

#navContainer {
    display:flex;
    justify-content: space-around;
    width: 400px;
    margin-right: 50px;
    
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

#darkMode {
    color: #7BFFE9;
}

main {
    margin-left: 60px;
    margin-right: 60px;
}

#welcomeParagraph {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

#aboutUsHeader {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

#aboutUsPic {
    width: 445px;
    height: 608px;

}

#bottomDiv {
    display: flex;
    justify-content: space-between;
}

#leftDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mainSubmit {
    width: 418px;
    height: 115px;
    border: 2px solid #7BFFE9;
    border-radius: 60px;
    cursor: pointer;
    color: #7BFFE9;
    background-color: #2A3B49;
    margin-top: 20px;
    font-size: 35px;
    margin-left: 20px;
}

#bottomDiv {
    margin-top: 100px;
}

#paragraphOne,
#paragraphTwo,
#paragraphThree {
    font-size: 20px;
    margin: 0 20px 0 20px;
}

#mainH3 {
    margin-left: 20px;
}