body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
}


header {
    background-color: #2A3B49;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    color: #7BFFE9;
    text-decoration: none;
}

#logoID {
    text-decoration: none;
}

#navContainer {
    display:flex;
    justify-content: space-around;
    width: 400px;
    margin-right: 50px;
    
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

#darkMode {
    color: #7BFFE9;
}

#setName {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

#setTitle {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;
}

#imageContainer {
    display:flex;
    justify-content: center;
}

#imageDisplay {
    max-width: 80%;
}

#buttonContainer {
    display:flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

#prevButton {
    width: 103px;
    height: 35px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #7BFFE9;
    background: #2A3B49;
    border-radius: 60px;
}

#nextButton {
    width: 103px;
    height: 35px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #7BFFE9;
    background: #2A3B49;
    border-radius: 60px;
}