body {
    margin: 0;
    padding: 0;
    background-image: url('pixifylandingpage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #2A3B49;
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 27px;
}

.logo {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    color: #7BFFE9;
    text-decoration: none;
}

#logoID {
    text-decoration: none;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

#about-container {
    width: 78px;
    height: 23px;
}

#about {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}
#submission-container {
    width: 174px;
    height: 23px;
}
#submissions {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}
nav {
    display:flex;
}

.bottom-left-paragraph-container {
    position: absolute;
    width: 667px;
    height: 437px;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #2A3B49;
    border-radius: 150px 150px 150px 0;
   

}

.bottom-left-paragraph {
    font-family: 'Montserrat';
    font-weight:lighter;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    padding: 35px 34px 32px 27px;

}

.bottom-right-button {
    position: absolute;
    width: 418px;
    height: 115px;
    right: 23px;
    bottom: 23px;
    border: 2px solid #7BFFE9;
    border-radius: 60px;
    background: transparent;
    color: #7BFFE9;
    font-size: 38px;
    font-weight: 100;
    text-align: center;
    line-height: 115px;
}

