body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
}

header {
    background-color: #2A3B49;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    color: #7BFFE9;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
}

.dark-mode {
    color: #7BFFE9;
}

main {
    display: flex;
}

#leftSideMain {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid red 2px;
}

#submissionsHeader {
    text-align: center;
    height: 46px;
    border: solid green 2px;
}

#submissionsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    border: solid blue 2px;
    margin: 0;
}

figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-more {
    color: black;
    text-decoration: none;
}

.image-container {
    text-align: center;
}

.image-label, .see-more {
    display: block;
}


#natureAdventures {
    width: 345px;
    height: 193px;
    background: url(david-marcu-78A265wPiO4-unsplash.jpg);
    border-radius: 8px;
}

#womanSmiling {
    width: 345px;
    height: 193px;
    background: url(edward-cisneros-_H6wpor9mjs-unsplash.jpg);
    border-radius: 8px;
}

#pandaEatingBamboo {
    width: 345px;
    height: 213px;
    background: url(sid-balachandran-_9a-3NO5KJE-unsplash.jpg);
    border-radius: 8px;
}

#innocentBoyJumping {
    width: 345px;
    height: 213px;
    background: url(alvin-mahmudov-vKuEhorbvYI-unsplash.jpg);
    border-radius: 8px;
}

#manLoungingAtAirport {
    width: 345px;
    height: 213px;
    background: url(jeshoots-com-mSESwdMZr-A-unsplash.jpg);
    border-radius: 8px;
}

#rightSideMain {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#submissionForm {
    width: 481px;
    height: 608px;
    background: #2A3B49;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 40px 40px;
}

#submissionForm h1 {
    color: #FFFFFF;
    text-align: center;
}

#submissionForm input[type="text"] {
    width: 360px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #D9D9D9;
}

#submissionForm input[type="text"]::placeholder {
    color: #D9D9D9;
}

#submissionForm input[type="submit"] {
    width: 360px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #D9D9D9;
}
